#  Azure SQL
SQL_SERVER=
SQL_DATABASE=
SQL_USERNAME=
SQL_PASSWORD=



#  Auth
JWT_SECRET=your_generated_secret

#  Azure OpenAI 
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_ENDPOINT=


AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_API_AUDIENCE=
