#  Azure SQL
SQL_SERVER=
SQL_DATABASE=
SQL_USERNAME=
SQL_PASSWORD=

#  Optional 
SERVER_CONNECTION_STRING=

#  Auth
JWT_SECRET=your_generated_secret

#  Azure OpenAI 
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_ENDPOINT=


DATABASE_URL=mssql+pyodbc://<SQL_USERNAME>:<SQL_PASSWORD>@<SQL_SERVER>.database.windows.net/<SQL_DATABASE>?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no
